body {
  font-family: "Roboto Mono", monospace, "Times";
}
#mainHeader {
  margin-top: 2%;
  margin-bottom: 2%;
}

#mainHeader h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}

#selfportrait {
  display: block;
  margin: auto;
  width: 9%;
  height: 9%;
}
#reachMe {
  font-size: 30px;
  color: grey;
  text-align: center;
}

#firstP {
  font-size: 20px;
  text-align: center;
}

#listItem {
  padding: 5px;
}

.thirdHeader {
  font-size: 16px;
  color: grey;
}

div#main {
  margin: 0 auto;
  width: 90%;
}

h1#builtby {
  text-align: center;
}

div#bottom {
  margin-bottom: 5%;
}

li {
  font-size: 20px;
}
a {
  font-size: 20px;
  color: grey;
  text-decoration: none;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
} /* Unvisited link  */
a:visited {
  color: grey;
} /* Visited link    */
a:hover {
  color: black;
} /* Mouse over link */
a:active {
  color: black;
} /* Selected link   */

img.adventureIMG {
  border-radius: 2%;
  width: 50%;
  height: 50%;
}

h1.secondaryHeader {
  /*border-bottom: 1px solid grey;*/

  font-size: 35px;
  font-weight: bold;
  width: fit-content;
}
.pink {
  color: grey;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
.pink:hover {
  color: lightpink;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.white {
  color: grey;
}

.typewriter p {
  word-break: break-all;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  font-size: 0.75em;
  border-right: 0.15em solid grey; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 5s steps(50, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: grey;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

@media only screen and (max-width: 1200px) {
  .typewriter p {
    overflow: hidden;
    white-space: normal;
    animation: none;
    letter-spacing: none;
    word-wrap: break-word;
  }
  #selfportrait {
    display: block;
    margin: auto;
    width: 20%;
    height: 20%;
  }

  h1.secondaryHeader {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
  }

  a {
    font-size: 24px;
  }

  li {
    font-size: 20px;
  }

  #firstP {
    font-size: 26px;
  }

  img.adventureIMG {
    width: 80%;
    height: 80%;
  }
}

@media only screen and (max-width: 600px) {
  #selfportrait {
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
  }
  #firstP {
    font-size: 16px;
    text-align: center;
  }

  #firstP a {
    font-size: 16px;
  }

  a {
    font-size: 20px;
  }
  #listItem, #listItem a{
    padding: 5px;
    font-size: 16px;
  }
}
