#mainHeader {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
#reachMe {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: grey;
  text-align: center;
}
#secondaryHeader {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: bold;
}

#firstP {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
}

#couseLi {
  padding: 5px;
}

#reflectOnCourse {
  font-size: 20px;
  color: grey;
}

a {color:grey;}         /* Unvisited link  */
a:visited {color:grey;} /* Visited link    */
a:hover {color:black;}   /* Mouse over link */
a:active {color:black;}  /* Selected link   */
